body {
    margin: 0 auto;
    max-width: 500px;
    padding: 1rem;
    color: #111;
    font-family: system-ui;
}
header h1 {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 0;
}
header div p {
    font-size: 0.9rem;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
}
header div {
    margin-bottom: 3rem;
}
header + section {
    margin-top: 0rem;
    margin-bottom: 0rem;
}