body {
    margin: 0 auto;
    max-width: 500px;
    padding: 1rem;
    color: #111;
    font-family: system-ui;
}
header h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}
header div p {
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}
#experience div:not(:first-of-type){
    margin-top: 1rem;
}
#experience div p {
    margin-top: 0;
    margin-bottom: 0;
}
#experience div p:first-of-type {
    font-weight: 700;
}
#experience div p:not(:first-of-type){
    font-size: 0.9rem;
    font-weight: 300;
}
